* {
  box-sizing: border-box;
  margin: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

a:any-link {
  color: currentColor;
}

body {
  width: 100vw;
  min-height: 100vh;
}
